*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#0d1117;
  color:white;
}

.app{
  min-height:100vh;
}

.header{
  text-align:center;
  padding:30px;
  background:#161b22;
  border-bottom:2px solid #2ea043;
}

.header h1{
  color:#2ea043;
  font-size:40px;
}

.header p{
  margin-top:10px;
  color:#c9d1d9;
}

.signal{
  width:90%;
  max-width:1200px;
  margin:25px auto;
  background:#161b22;
  border:2px solid #f0b90b;
  border-radius:15px;
  text-align:center;
  padding:25px;
}

.signal h2{
  color:#f0b90b;
}

.signal h1{
  margin:15px 0;
  color:#ff4d4d;
  font-size:42px;
}

.cards{
  width:90%;
  max-width:1200px;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
  gap:20px;
}

.card{
  background:#161b22;
  padding:25px;
  border-radius:15px;
  border:1px solid #30363d;
}

.card h2{
  color:#58a6ff;
  margin-bottom:20px;
}

.card p{
  margin:10px 0;
}.navbar{
  display:flex;
  justify-content:center;
  gap:15px;
  flex-wrap:wrap;
  padding:20px;
  background:#161b22;
}

.navbar button{
  background:#238636;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:8px;
  cursor:pointer;
  font-size:16px;
  transition:.3s;
}

.navbar button:hover{
  background:#2ea043;
}
.badge{
    margin-left:10px;
    padding:5px 12px;
    border-radius:8px;
    font-weight:bold;
}

.BUY{
    background:#2ea043;
    color:white;
}

.SELL{
    background:#da3633;
    color:white;
}

.No{
    background:#f0b90b;
    color:black;
}
.market-status{
  width:90%;
  max-width:1200px;
  margin:25px auto;
  background:#161b22;
  border:1px solid #30363d;
  border-radius:15px;
  padding:20px;
  text-align:center;
}

.market-status h2{
  color:#2ea043;
  margin-bottom:10px;
}

.market-status p{
  margin:8px 0;
  color:#c9d1d9;
}