* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0d1117;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    padding: 30px;
    background: #161b22;
    border-bottom: 2px solid #2ea043;
}

header h1 {
    font-size: 40px;
    color: #2ea043;
}

header p {
    color: #c9d1d9;
    margin-top: 10px;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #161b22;
    width: 350px;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #30363d;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
}

.card h2 {
    color: #58a6ff;
    margin-bottom: 20px;
}

.card p {
    font-size: 18px;
}
.market-status{
    width:90%;
    max-width:1200px;
    margin:20px auto;
    background:#161b22;
    border:1px solid #30363d;
    border-radius:15px;
    padding:20px;
    text-align:center;
}

.market-status h2{
    color:#2ea043;
    margin-bottom:10px;
}

.market-status p{
    color:#c9d1d9;
}
.best-trade{
    width:90%;
    max-width:1200px;
    margin:20px auto 40px;
    background:#161b22;
    border:1px solid #30363d;
    border-radius:15px;
    padding:20px;
}

.best-trade h2{
    color:#f0b90b;
    margin-bottom:15px;
}

.best-trade p{
    margin:8px 0;
}
.top-bar{
    width:100%;
    background:#0d1117;
    color:white;
    padding:12px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-sizing:border-box;
    border-bottom:1px solid #30363d;
    font-weight:bold;
}
nav{
    margin-top:20px;
}

nav button{
    background:#238636;
    color:white;
    border:none;
    padding:10px 18px;
    margin:5px;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    transition:.3s;
}

nav button:hover{
    background:#2ea043;
    transform:translateY(-2px);
}

.signal-banner{
    width:90%;
    max-width:1200px;
    margin:20px auto;
    background:#161b22;
    border:2px solid #f0b90b;
    border-radius:15px;
    text-align:center;
    padding:25px;
}

.signal-banner h2{
    color:#f0b90b;
}

#ai-signal{
    font-size:42px;
    color:#ff4d4d;
    margin:15px 0;
}

#signal-message{
    color:#c9d1d9;
}

.card p{
    margin:10px 0;
}